%h5 Related Navigation
%ul
  %li
    Category
    %ul
      %li Sub-Category 1
      %li Sub-Category 2
      %li Sub-Category 3
  %li
    Category 1
    %ul
      %li Sub-Category 1
      %li Sub-Category 2
      %li Sub-Category 3
  %li
    Category 2
    %ul
      %li Sub-Category 1
      %li Sub-Category 2
      %li Sub-Category 3
